
    
    .group{
        margin: .5rem;
        display: flex;
        overflow: hidden;
        justify-content: center;
    }
    
    
    
    #input-text{
        border-radius: 25px 0px 0px 25px;  
        border: 1px solid rgba(204, 204, 204, 0.74);
        outline: none;
        border-right: 1px solid #a8a5a5; 
        font-size: 1rem;
        padding: .5rem;
        padding-left: 1rem;
    }
    
 
     #search-btn{
        background-color: blue;
        border: none;
        color: white;
        padding: 0 2rem;
        border-radius: 0 25px 25px 0;
        font-weight: bold;}
    
    
    #search-btn:active{
        background-color: rgb(14, 14, 168);
    }