
/* #414141  Dark Black from econsite
  #202020   Light Black
  #94fdfd   Mint Green
  
*/

.page{
  --label-color:white;
  --input-bg-color:#414141;
  --input-color:white;
 --input-outline-color:#94fdfd;
 width: 100%

}

.chart-container{
margin:auto;
padding: .25rem 2rem 2rem 2rem;
max-width: 95%;
max-height: 400px;
display: flex;
justify-content: center;
align-items: center;
}


  .form-container{
   display: flex;  
   flex-direction: column;
   flex-wrap: wrap;
   margin-left: 15%;
   margin-right: 15%;
   position: static; 
  }

  .form-control{
    width: 100%;  
  }

  .form-label {
    color: var(--label-color);
    /* color: #fdfffe; */
    font-weight: bold;
    font-size: 1.1rem;
  }

  .form-input{
    width: 100%;
    padding: .5rem 1rem;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    font: inherit;
    background-color:var(--input-bg-color);
    color:var(--input-color) ;
    outline-color:  --input-outline-color;
    outline-width: thin;
    font-weight: bold;;
  }

  .form-button{
    padding: 10px 10px;
    width: 80%;
    margin: 1rem 10%;
    border: 1px solid gray;
    background-color:#74dacc;
    border-radius: 50px;
    font: inherit;
    font-weight: bold;

  }



  #series_id{
    width: 100%;
  }

 /* -------Phone Landscape---------- */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 900px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) { 

  .chart-container{
   position: fixed;
    top:55px;
    height: 280px;
    z-index: 101;
    margin-left: 15%;
    padding: 0;
  
    display:block;
  
  }
  

    .form-container{
      display: flex;  
      flex-direction: row;  
      flex-wrap: wrap;  
      width: 100%;
      margin: 0;
      align-items:end;
      position: fixed; 
      top: 90%;
      left: 5%;
      z-index: 102;
     }

     .form-control{
      width: 20%;
      position: relative;
      height:  32px;
    }

    .form-label {
      color: var(--label-color);
      /* color: #fdfffe; */
      font-weight: bold;
      font-size: 1.1rem;
      position: absolute;
      top: -60%;
      left: 5%;
      font-size: .75rem;
         }
     
  .form-input{
    width:  95%;
    margin-right:5% ;
    padding: 0 1rem;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 4px;
    font: inherit;
    background-color:var(--input-bg-color);
    color:var(--input-color) ;
    outline-color:  --input-outline-color;
    outline-width: thin;
    font-weight: bold;
    font-size: .7rem;
    height:  28px;
  }
  
  .form-button{
    padding: 0;
    width: 60%;
    margin: 0;
    border: 1px solid gray;
    background-color:#74dacc;
    border-radius: 50px;
    font: inherit;
    font-weight: bold;
    height:  28px;
    display: flex;
  justify-content: center;
  align-items: center;

  }
     
   
  }


