

.input-group{
    --font-color:rgba(219, 214, 214, 0.479);
    --container-inputs-bg: rgb(0, 0, 0);
    --border-color:rgba(105, 104, 104, 0.479);
    --border-focus-color: #9ecaed;
    --label-focus-color:#88bde9;
      background-color: var(--container-inputs-bg);
      padding: .6rem;
      max-width: 60%;
      min-width: 25%;
      margin: 0 auto ;
      box-sizing: border-box;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .input-group input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1) hue-rotate(180deg);
  }
  
  .input-container {
  
    
    background-color: var(--container-inputs-bg);
    padding: .5rem;
    border: 2px solid var(--border-color);
    margin:  0rem 1rem;
    border-radius: 5px;
    position: relative;
  
  }
  
  
  .input-box {
      background-color: var(--container-inputs-bg);
      border: none;
      line-height: 1rem;
      font-size: 1rem;
      outline: none;
      color:var(--font-color);
      width: 100%;
    }
  
    .input-label {
      position: absolute;   
      left: 18px;
      top: -12px;
      padding: 0 2px;
      background-color: var(--container-inputs-bg);
      font-size: .9rem;
      z-index: 101;
      border-radius: 1rem;
      color: var(--font-color);
      font-weight: 200;
    }
  
    /* Target the parent element when the child element is in focus */
  .input-container:focus-within { 
      border: 2px solid ;
      outline: none;
      border-color: var(--border-focus-color);
      box-shadow: 0 0 10px var(--border-focus-color);
      /* border-color: #9ecaed;
      box-shadow: 0 0 10px #9ecaed; */
  }
  
  .input-box:focus + .input-label {
    color:var(--label-focus-color) ;
  text-shadow : horizontal-shadow vertical-shadow blur color;
  }
  
  